/* 篩選容器樣式 */
.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 10px;
  padding: 0 15px;
  background-color: #f4f4f4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: 'Verdana', sans-serif;

}

.filter h5 {
  font-size: 1.2rem;
  margin: 0;
  color: #333;
}

.dropdown-menu {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sortBtn {
  border: none;
  background: #fff;
  font-size: 1rem;
  color: #333;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background 0.3s ease, color 0.3s ease;
}

.sortBtn:hover {
  background: #e0e0e0;
  color: #ff6363;
}

.arrow-icon {
  margin-left: 5px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border: solid #333;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  transition: transform 0.2s ease-in-out;
}

.up{
  transform: rotate(225deg);
}
.down{
  transform: rotate(45deg);
}
/* 房間信息容器樣式 */
.room-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 10px auto; /* 使房間信息居中 */
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer; /* 添加鼠標手型指示符 */
}

.room-info:hover {
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-container {
  position: relative;
}

.tag-hot i {
  padding: 2px 5px;
  position: absolute;
  top: 5px;
  left: 6px;
  background-color: rgba(255, 99, 99, 0.9);
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  z-index: 10;
}

.room-info img {
  width: 30vh;
  height: 20vh;
  margin-right: 20px;
  border-radius: 8px;
  object-fit: cover;
}

.details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.lefttitle {
  margin-bottom: 10px;
}

.lefttitle h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

.address {
  color: #666;
  font-size: 1rem;
  margin: 5px 0;
}

.righttitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pi.pi-heart {
  color: #ff6363;
  cursor: pointer;
  transition: color 0.3s ease;
}

.pi.pi-heart:active {
  color: #ff6363;
}

.price {
  color: #e63946;
  font-weight: bold;
  font-size: 1.2rem;
}

.link {
  display: inline-block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: underline;
  font-size: 1rem;
}

.link:hover {
  text-decoration: none;
}
