<div class="container">
    <form class="PwdForm" [formGroup]="pwdForm" (ngSubmit)="updatePassword()">
        
        <div class="form-group">
            <label for="oldPassword">確認舊密碼:</label>
            <input
                id="oldPassword"
                type="password"
                formControlName="oldPassword"
                class="form-control"
            />
            <div *ngIf="isSubmitted && fc['oldPassword'].errors" class="invalid-feedback">
                <div *ngIf="fc['oldPassword'].errors['required']" class="font-2 font-color-error">
                    Old password is required.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="newPassword">設定新密碼:</label>
            <input
                id="newPassword"
                type="password"
                formControlName="newPassword"
                class="form-control"
            />
            <span>（限用英文或數字，長度4~12個字元）</span>
            <div *ngIf="isSubmitted && fc['newPassword'].errors" class="invalid-feedback">
                <div *ngIf="fc['newPassword'].errors['required']" class="font-2 font-color-error">
                    New password is required.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="confirmPassword">確認新密碼:</label>
            <input
                id="confirmPassword"
                type="password"
                formControlName="confirmPassword"
                class="form-control"
            />
            <span>（請再輸入一次新密碼）</span>
            <div *ngIf="isSubmitted && fc['confirmPassword'].errors" class="invalid-feedback">
                <div *ngIf="fc['confirmPassword'].errors['required']" class="font-2 font-color-error">
                    Confirm password is required.
                </div>
                <div *ngIf="fc['confirmPassword'].errors['mismatch']" class="font-2 font-color-error">
                    Passwords do not match.
                </div>
            </div>
        </div>

        
        <div class="btn">
            <button type="submit" class="btn btn-primary">修改密碼</button>
        </div>    
    </form>
   
</div>
