<div class="profile">
    <div class="profile__info">
        <div class="profile__info__name">嗨!{{userInfo.name}}</div>
        <div class="profile__info__email">{{userInfo.email}}</div>
    </div>
</div>
<div class="dashboard">
    <div class="card--row">
        <div class="card is--half"></div>
        <div class="card is--half"></div>
    </div>
    <div class="collapse-card">
        <div class="collapse-card_header">
            <div class="collapse-card_header__title">買屋追蹤</div>
            <button id="collapse-card_header__btn" class="r-btn">看更多<span class="pi pi-angle-right"
                    style="font-size: 0.7rem"></span></button>
        </div>
        <div class="collapse-card_body">
            <div class="obj">
                <i class="pi pi-exclamation-circle" style=" font-size: 1rem;"></i>近半年內無追蹤物件
            </div>
        </div>
    </div>
    <div class="collapse-card">
        <div class="collapse-card_header">
            <div class="collapse-card_header__title">建案追蹤</div>
            <button id="collapse-card_header__btn" class="r-btn">看更多<span class="pi pi-angle-right"
                    style="font-size: 0.7rem "></span></button>
        </div>
        <div class="collapse-card_body">
            <div class="obj">
                <i class="pi pi-exclamation-circle"></i>近半年內無追蹤物件
            </div>
        </div>
    </div>
    <div class="collapse-card">
        <div class="collapse-card_header">
            <div class="collapse-card_header__title">買屋追蹤</div>
            <button id="collapse-card_header__btn" class="r-btn">看更多<span class="pi pi-angle-right"
                    style="font-size: 0.7rem"></span></button>
        </div>
        <div class="collapse-card_body">
            <div class="obj">
                <i class="pi pi-exclamation-circle"></i>近半年內無追蹤物件
            </div>
        </div>
    </div>
</div>