<div class="footer">
    <div>
        <h1 class="title">關於我們</h1>
        <ul class="subtitle">
            <li class="subtitle-item">網站地圖</li>
        </ul>
    </div>
    <div>
        <h1 class="title">廣告刊登</h1>
        <ul class="subtitle">
            <li class="subtitle-item">租屋刊登</li>
            <li class="subtitle-item">廣告刊登</li>
        </ul>
    </div>
    <div>
        <h1 class="title">聯絡我們</h1>
        <ul class="subtitle">
            <li class="subtitle-item"><i class="pi pi-instagram"></i> Instagram</li>
            <li class="subtitle-item"><i class="pi pi-facebook"></i> Facebook</li>
        </ul>
    </div>
</div>
